<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../css/main.css">
    <title>Update your password</title>
</head>
<body>
    <div class="new-password-container reset-passwor">
        <h1>Please select a new, secure password</h1>
        <p>We recommend that you user a tool such as <a href="https://www.lastpass.com/password-generator">this one</a> to generate a secure, randomized password.</p>
        <div class="form-container">
            <form action="/change-password" method="POST">
                <label for="password">
                    <input type="password" name="password">
                    <span class="placeholder">New password</span>
                </label>
                <div>
                    <button type="submit">Update your password</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>